# baseURL: "https://hugo-profile.netlify.app"
baseURL: "https://jacobkohav.github.io/"
languageCode: "en-us"
title: "Jacob Kohav's portfolio"
theme: hugo-profile

outputs:
  home:
    - "HTML"
    - "RSS"
    - "JSON"
  page:
    - "HTML"
    - "RSS"
    
Paginate: 3
enableRobotsTXT: true

markup:
  goldmark:
    renderer:
      unsafe: true

Menus:
  # main:
  #   - identifier: blog
  #     name: Blog
  #     title: Blog posts
  #     url: /blogs
  #     weight: 1
    # - identifier: gallery
    #   name: Gallery
    #   title: Blog posts
    #   url: /gallery
    #   weight: 2
    #Dropdown menu
    # - identifier: dropdown
    #   title: Example dropdown menu
    #   name: Dropdown
    #   weight: 3
    # - identifier: dropdown1
    #   title: example dropdown 1
    #   name: example 1
    #   url: /#
    #   parent: dropdown
    #   weight: 1
    # - identifier: dropdown2
    #   title: example dropdown 2
    #   name: example 2
    #   url: /#
    #   parent: dropdown
    #   weight: 2

params:
  title: "Hugo Profile"
  description: Welcome to my portfolio.
  # staticPath: ""  # The path to serve the static files from
  favicon: "/fav.png"

  # Whether to serve bootstrap css and js files from CDN or not. Can be set to true, "css" or "js" to choose between
  # serving both, only the css, or only the js files through the CDN. Any other value will make so that CDN is not used.
  # Note the lack of "" in true, it should be of boolean type.
  useBootstrapCDN: false

  # If you want to load dynamically responsive images from Cloudinary
  # This requires your images to be uploaded + hosted on Cloudinary
  # Uncomment and change YOUR_CLOUD_NAME to the Cloud Name in your Cloudinary console
  # cloudinary_cloud_name: "YOUR_CLOUD_NAME"

  # Whether the fade animations on the home page will be enabled
  animate: true

  theme:
    disableThemeToggle: false
    # defaultTheme: "light" # dark

  font:
    fontSize: 1rem # default: 1rem
    fontWeight: 400 # default: 400
    lineHeight: 1.5 # default: 1.5
    textAlign: left # default: left

  # color preference
  color:
    # textColor: 
    # secondaryTextColor:
    # backgroundColor:  # Original
    # backgroundColor:  #ebf5fb 
    # backgroundColor:  #fdfefe 
    # secondaryBackgroundColor:
    # primaryColor:
    # secondaryColor:

  #   darkmode:
  #     textColor:
  #     secondaryTextColor:
  #     backgroundColor:
  #     secondaryBackgroundColor:
  #     primaryColor:
  #     secondaryColor:

  # If you want to customize the menu, you can change it here
  navbar:
    align: ms-auto # Left: ms-auto | center: mx-auto | right: me-auto | Default: ms-auto
    # brandLogo: "/logo.png" # Logo for the brand | default is the favicon variable
    brandName: "Jacob Kohav" # Brand name for the brand | default is the title variable
    disableSearch: false
    menus:
      disableAbout: false
      disableExperience: false
      disableEducation: false
      disableProjects: false
      disableAchievements: false
      disableContact: false

  # Hero
  hero:
    enable: true
    intro: "Hello, my name is"
    title: "Jacob"
    subtitle: "I bring value from every level of the enterprise."
    content: "I am a software and machine learning-artificial intelligence engineer with skills in best leadership practices."
    # image: /images/hero.svg
    # image: /Simultion_of_Flocks.jpg # Doesn't work!
    button:
      enable: false
      name: "Resume"
      url: "#"
      download: true
      newPage: false
    socialLinks:
      fontAwesomeIcons:
        - icon: fab fa-github
          url: https://github.com/JacobKohav
        - icon: fab fa-linkedin
          url: https://www.linkedin.com/in/jacob-kohav/
        - icon: fa fa-envelope
          url: mailto:jacob.kohav@colorado.edu?subject=Connect%20with%20Jacob
        # - icon: fa fa-bookmark
        # - icon: fa fa-file
        # - icon: fa fa-address-book
        # - icon: fa fa-stop-circle
        # - icon: fa fa-window-maximize
        # - icon: fa fa-atlas
        # - icon: fa fa-file-csv
        # - icon: fa fa-file
        # - icon: fa fa-link
        # - icon: fa fa-list
        # - icon: fa fa-magnet
        # - icon: fa fa-marker
        # - icon: fa fa-person-booth
        # - icon: fa fa-chalkboard
        # - icon: fa fa-chalkboard-teacher
      # customIcons:
      #   - icon: /fav.png
      #     url: "https://example.com"

  # About
  about:
    enable: true
    title: "About Me"
    # image: "/images/me.png"
    image: "/portrait.jpeg"
    content: |-
      <br /><br /><br />I seek to improve your organization’s ability to create value by synthesizing software engineering and data science skills with Lean-Agile paradigms. I apply my technical and value-production skills to bridge the communication gap throughout the entire development chain.    
    skills:
      enable: false
      title: "Here are a few technologies I've been working with recently:"
      items:
        - "HTML"
        - "CSS"
        - "JavaScript"
        - "React"
        - "Node"
        - "Express"

  # Experience
  experience:
    enable: true
    # title: "Custom Name"
    items:
      - job: "AI/ML Research Engineer"
        company: "Lockheed Martin Co"
        companyUrl: "https://www.lockheedmartin.com/en-us/index.html"
        date: "Feb 2022 - present"
        info:
          enable: false
        featuredLink:
          enable: false
          name: "View the project"
          url: "https://example.com"
        # content: "I am currently working as a software developer at [example org.](https://example.com) in San Francisco, CA. I am currently working on a project that will be used to help people find the best way to get around the city."

      - job: "Software Engineer"
        company: "Lockheed Martin Co"
        companyUrl: "https://www.lockheedmartin.com/en-us/index.html"
        date: "Mar 2021 - Feb 2022"
        featuredLink:
          enable: false
          url: "https://example.com"
        info:
          enable: false
          content: I worked as a software developer for more than one year in Amazon.
        content: 

  # Education
  education:
    enable: true
    # title: "Custom Name"
    index: false
    items:
      - title: "Masters of Engineering in Engineering Management"
        school:
          name: "University of Colorado, Boulder"
          url: "https://www.colorado.edu/"
        date: "2022 - present"
        GPA: "4.00 / 4.00"
        content: |-
            |    |     |     |
            | :--------- | :-------- | -------- |
            | ○  Entrepreneurship for Engineers &nbsp; | ○ Resilience Engineering &nbsp; &nbsp;| ○ NeuroLeadership |
            | ○  Sustainbility Principles for Engineering Mgrs. &nbsp; | ○ Digital Transformation |
            | ○ Lean and Agile Management &nbsp; &nbsp; | ○ Systems Engineering |
            
            
      - title: "Masters of Science in Data Science"
        school:
          name: "University of Colorado, Boulder"
          url: "https://www.colorado.edu/"
        date: "2021 - present"
        GPA: "4.00 / 4.00"
        content: |-       
            |    |     |     |
            | :--------- | :-------- | ---------- |
            | ○ Data Science as a Field &nbsp; &nbsp; | ○ Cybersecurity for Datascience &nbsp; &nbsp; | ○ Ethical Issues in Data Science |

      - title: "Bachelors in Computer Science"
        school:
          name: "University of Colorado, Boulder"
          url: "https://www.colorado.edu/"
        date: "2020"
        GPA: "3.60 / 4.00"
        content: |-
            |    |     |     |
            | :--------- | :-------- | ---------- |
            | ○ Data Structures &nbsp; &nbsp; | ○ Software Dev. Tools/Methodologies &nbsp; &nbsp; | ○ Human-Computer Interaction |
            | ○ Discrete Structures &nbsp; &nbsp; | ○ Human-Centered Computing &nbsp; &nbsp; | ○ Algorithms |
            | ○ Cognitive Science &nbsp; &nbsp; | ○ Principles of Programming Languages &nbsp; &nbsp; | ○ Computer Systems |
            | ○ Linear Algebra &nbsp; &nbsp; | ○ Dynamic Models in Biology &nbsp; &nbsp; |  |


        # |<span style="display: inline-block; width:220px"> </span> | <span style="display: inline-block; width:320px"> </span> | <span style="display: inline-block; width:200px"> </span> |

        # featuredLink:
        #   enable: false
        #   name: "My academic record"
        #   url: "https://example.com"

  # Achievements
  achievements:
    enable: true
    title: "Certifications"
    items:
    # <i class="fa fa-external-link-square" aria-hidden="true"></i>
    #       <a class="external" href="https://example.org" target="_blank">external link</a>
    #  |͟↗̱| ❐ ↗\ ⧉ ⇲ ⧉ ❐ ⍈
    # Import image: <img src="cert_mark_SASM_small_150px.png" style="float:right;width:80px" />

      - title: Registered Product Owner™ ⇲
        content: 
          <br>
          <img src="Favicon_RPO_32.svg" style="width:210px" />
          # <div data-iframe-width="210" data-iframe-height="240" data-share-badge-id="3bf4e57f-d9c8-42c7-aab5-d3c7878532e9" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        url: https://s3.amazonaws.com/scruminc-certs/RPO-8185695

      - title: Certified SAFe® 6 Release Train Engineer ⇲
        content: 
          <br>
          <div data-iframe-width="210" data-iframe-height="240" data-share-badge-id="3bf4e57f-d9c8-42c7-aab5-d3c7878532e9" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        url: https://www.credly.com/badges/3bf4e57f-d9c8-42c7-aab5-d3c7878532e9/public_url

      - title: Certified SAFe® 6 Agile Product Manager ⇲
        content: 
          <br>
          <div data-iframe-width="210" data-iframe-height="240" data-share-badge-id="317fc404-7936-4821-9d08-bbb94b08ff33" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        url: https://www.credly.com/badges/317fc404-7936-4821-9d08-bbb94b08ff33/public_url

      - title: SAFe® 6 Lean Portfolio Manager ⇲
        content: 
          <br>
          <div data-iframe-width="210" data-iframe-height="240" data-share-badge-id="8721bada-c00e-4d6f-8a42-fad6a7d732d5" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        # icon: fa fa-envelope
        url: https://www.credly.com/badges/8721bada-c00e-4d6f-8a42-fad6a7d732d5/public_url

      - title: Certified SAFe® 6 Advanced Scrum Master ⇲
        content: 
          <br>       
          <div data-iframe-width="210" data-iframe-height="240" data-share-badge-id="47a11624-4b30-4779-bbb8-86a4c60698e6" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        url: https://www.credly.com/badges/47a11624-4b30-4779-bbb8-86a4c60698e6/public_url

      - title: Certified SAFe® 6 Practitioner ⇲
        content: 
          <br>       
          <div data-iframe-width="210" data-iframe-height="240" data-share-badge-id="10728326-1cfa-4fcf-8aec-1d72e9adf6e6" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        url: https://www.credly.com/badges/10728326-1cfa-4fcf-8aec-1d72e9adf6e6/public_url

      - title: Certified SAFe® 6 Scrum Master ⇲
        content: 
          <br>       
          <div data-iframe-width="210" data-iframe-height="240" data-share-badge-id="bac820c8-e565-48b9-ab2b-e18be17fa20a" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        url: https://www.credly.com/badges/bac820c8-e565-48b9-ab2b-e18be17fa20a/public_url
      
      - title: Registered Scrum Master™ ⇲
        content: 
          <br>
          <img src="SM-Badge.webp" style="width:210px" />
        url: https://s3.amazonaws.com/scruminc-certs/RSM-0633299
      
      - title: Certified SAFe® 6 Agilist ⇲
        content: |-
          <br>       
          <div data-iframe-width="210" data-iframe-height="240" data-share-badge-id="33b1c680-6241-4fdf-b178-29083083677c" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        url: https://www.credly.com/badges/33b1c680-6241-4fdf-b178-29083083677c/public_url

      - title: AI Fundamentals Practitioner Badge ⇲
        content: |-
          <br>       
          <div data-iframe-width="210" data-iframe-height="240" data-share-badge-id="47ae6906-1d22-4468-a87e-89ee75104281" data-share-badge-host="https://www.credly.com"></div><script type="text/javascript" async src="//cdn.credly.com/assets/utilities/embed.js"></script>
        url: https://www.credly.com/badges/47ae6906-1d22-4468-a87e-89ee75104281/public_url

    # projects
  projects:
    enable: true
    # title: "Custom Name"
    items:
    # Analysis of NYPD Shooting Incidents with the following Data Science techniques 1. Importing 2. Cleaning 3. Transformation 4. Analysis 5. Visualization 6. Bias Identification along with a summary and conclusion.

      - title: NYPD Shooting Incidents Analysis
        content: |
          <p align='justify'>Analysis of NYPD Shooting Incidents with the following Data Science techniques</p>

            |  |  |
            | ---  | ---  |
            | ○ Importing   | ○ Cleaning |
            | ○ Transformation | ○ Analysis |
            | ○ Visualization | ○ Bias identification |  

          <br> along with a summary and conclusion.
        image: "shooting.jpg"
        # featured:
        #   name: Demo
        #   link: https://hugo-profile.netlify.app
        badges:
          - "R"
          - "Modelling"
          - "Data Cleaning"
          - "Statistical Analysis"
        links:
          - icon: fab fa-github
            url: https://github.com/JacobKohav/NYPD_Shooting_Incident
          # - icon: fab fa-twitter
          #   url: https://twitter.com/intent/tweet?text=Check+it+out:&url=https%3A%2F%2Fgithub.com%2Fgurusabarish%2Fhugo-profile
          # <p align='justify'>Farhan Khan</p>

      - title: Simulation of Random Walks
        content: |
         <p align='justify'>Animal movement predictions through a random walk simulation. Implementation and assessment of the performance of several of movement schemes in two dimensions</p>
         
          - Biased Random Walks (BRW) 
          - Correlated Random Walks (CRW) 
          - Biased Correlated Random Walks (BCRW)
        image: "/walks.jpg"
        # featured:
        #   name: Demo
        #   link: https://hugo-profile.netlify.app
        badges:
          - "Python"
          - "Modelling"
          - "Biology"
        links:
          # - icon: fa fa-envelope
          #   url: mailto:?subject=Hugo%20Profile%20Template&body=Check%20it%20out:%20https%3a%2f%2fhugo-profile.netlify.app%2fblog%2fmarkdown-syntax%2f
          - icon: fab fa-github
            url: https://github.com/JacobKohav/Walk
          # - icon: fab fa-twitter
          #   url: https://twitter.com/intent/tweet?text=Check+it+out:&url=https%3A%2F%2Fgithub.com%2Fgurusabarish%2Fhugo-profile

      - title: Coarse-Grained Simulation of a Protein
        content: |
          <p align='justify'>Protein structure prediction through a dynamics simulation through a two dimensional coarse-grained model of a protein which consists of a chain of N amino acids. Each amino acid is represented by a circle connected to amino acids via an harmonic spring potential.</p>
        # image: https://i.pinimg.com/originals/7e/42/57/7e4257461ea477895873e320dfce9ff5.png
        image: "/protein.png" 
        # featured:
        #   name: Demo
        #   link: https://django-converter.herokuapp.com
        badges:
          - "Python"
          - "Modelling"
          - "Biology"
        links:
          - icon: fab fa-github
            url: https://github.com/JacobKohav/Protein#course-grained-simulation-of-a-protein

      - title: Simulation of Flocks
        content: |
          <p align='justify'>Illustration of swarm intelligence through a flocking example utilizing coherent emergent behavior (flocking) of a swarm, when each agent is </p>
            
            - Attracted to other agents 
            - Repulsed when too close to other agents
            - Performing velocity alignment with other agents 
        
          <p align='justify'>Examination of this behavior in 2D; the swarm will be composed of N agents; each agent will be defined by its position (p) and velocity (v).</p>
        image: "/simulation_of_flocks.jpg"
        # featured:
        #   name: Demo V2
        #   link: https://hugo-profile-2.netlify.app
        badges:
          - "Python"
          - "Modelling"
          - "Biology"
          - "Swarm Intelligence"
        links:
          - icon: fab fa-github
            url: https://github.com/JacobKohav/Flock

      - title: "Shakespeare or not Shakespeare: that is the question"
        content: |
          <p align='justify'>Authorship verification analysis of William Shakespeare and Thomas Middleton’s collaboration with the stylometric “rolling classification” method from the package ‘Stylo’ in the R language, utilizing supervised machine-learning classification”along with “sequential analysis” in order to inspect texts’ “stylometric signals.” Results support the hypotheses of Middleton's varying degree of contribution to "Shakespearean" plays. </p>
        image: "/shakespeare_3.jpg"
        # featured:
        #   name: Demo V2
        #   link: https://hugo-profile-2.netlify.app
        badges:
          - "R"
          - "Support Vector Machines (SVM)"
          - "Nearest Shrunken Centroids (NSC)"
          - "Natural Language Processing (NLP)"
          - "Authorship attribution"
          - "Principle Components Analysis (PCA)"
          - "Bootstrap Concensus Tree (BCT)"
          - "Theater"
        links:
          - icon: fa fa-link
            url: https://libguides.ccu.edu/IR/RMURC2020?t=44813
          - icon: fa fa-file
            url: https://libguides.ccu.edu/ld.php?discussion_id=919
          - icon: fa fa-chalkboard-teacher
            url: https://libguides.ccu.edu/ld.php?discussion_id=916 
      
  #Contact
  contact:
    enable: true
    # title: "Custom Name"
    content: My inbox is always open, whether you have a question or would like to say hello!
    email: jacob.kohav@colorado.edu
    btnName: Mail me

  footer:
    recentPosts:
      path: "blogs"
      count: 3
      title: Recent Posts
      enable: false
      disableFeaturedImage: false
    socialNetworks:
      github: https://github.com/JacobKohav
      linkedin: https://www.linkedin.com/in/jacob-kohav/
      # envelope: mailto:jacob.kohav@colorado.edu?subject=Connect%20with%20Jacob

      # twitter: https://twitter.com
      # instagram: https://instagram.com
      # facebook: https://facebook.com

  # List pages like blogs and posts
  listPages:
    disableFeaturedImage: false
